#about {
  padding-left: 10%;
  padding-right: 10%;
}

.intro {
  display: flex;
  justify-content: center; /* Center horizontally */
  text-align: center; /* Center align content within #about */
  min-height: 100vh;
}

.container {
  /* max-width: 800px; */
  display: flex;
  flex-direction: column; /* Stacks header and content vertically */
  align-items: center; /* Center align items */
  padding-top: 30vh;
  margin-bottom: 10%;
}

.content {
  display: flex;
  justify-content: center; /* Centers the items horizontally */
  flex-direction: row; /* Arrange items horizontally by default */
  align-items: center; /* Centers the items vertically */
}

.text-wrapper {
  flex: 1; /* Takes up remaining space */
  text-align: left; /* Adjust as needed */
  padding-right: 20px;
}

.image-socials-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 250px; /* Adjust according to your design */
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {

  .container {
    padding-top: 15vh;
  }
  
  .content {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center align items */
  }

  .text-wrapper {
    text-align: center; /* Center text on smaller screens */
    padding-right: 0px;
    padding-bottom: 20px; /* Add bottom padding for separation */
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }
}
